.contact--container{
  height: 100%;
  text-align: center;
}


.contact--header{
  text-align: center;
  margin-bottom: 50px;
}

ul{
  text-decoration: none;
  list-style: none;
}
.para--1, .para--2{
  text-align: center;
}